<section id="about">
<div class="container">
  <h3>About Me</h3>
  <div class="avatar">
    <img src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Carrah Lingo">
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
      Hi, I'm Carrah Lingo.
      This is my personal site where I share writing and updates.
      I value an ability to communicate ideas - technical or not - and periodically try to publish to
       <a href="{{ site.baseurl }}blog.html">my blog</a> as a way to stay sharp.
		</h4>
    </div>
  </div>
</div>
</section>
