<section id="about">
<div class="container">

  <div class="gallery-wall">
    <div class="gallery-wall__row">
      <div class="gallery-wall__frame gallery-wall__frame--landscape gallery-wall__frame--left">
        <img src="{{ site.baseurl }}static/img/about/gallery-1.png" alt="Carrah on her wedding day with her husband and vizsla, Catalina Island in the background">
      </div>
      <div class="gallery-wall__frame gallery-wall__frame--portrait">
        <img src="{{ site.baseurl }}static/img/about/gallery-2.png" alt="Carrah smiling at her elopement after party in a floral dress">
      </div>
      <div class="gallery-wall__frame gallery-wall__frame--landscape gallery-wall__frame--right">
        <img src="{{ site.baseurl }}static/img/about/gallery-3.png" alt="Carrah with about 30 friends at a Washington Nationals game outside the stadium in Washington, D.C.">
      </div>
    </div>
  </div>

  <div class="about-row">
    <div class="about-copy">
      <p>Hi, I'm Carrah Lingo. This website is my space for sharing more of my personal projects alongside some professional highlights.</p>

      <p>I'm an outgoing, empathetic, and ambitious person who values quality time and new experiences with people I love. I find meaning in bringing people together and have been an expert host and vacation planner for more than a decade.</p>

      <p>Professionally, I have 12 years of experience in strategic communications and marketing. I'm happiest alongside other hardworking and interesting people and I thrive when I can flex my event planning and community building skills.</p>

      <p class="about-copy__break">In 2024, I started a podcast with my lifelong best friend where we talk about the challenges and importance of friendship along with all the life lessons you stumble through in your 20's and 30's. It's a mix of comedy, self-help and mindless best friend banter.</p>

      <p>In my free time, I prefer to be laughing with friends, seeing live music, and meeting new people. I also dabble in creative outlets like watercolor and acrylic painting, pottery, and interior design. I share a sweet seven-year-old vizsla with my wonderful husband and hiking with her is our favorite family activity.</p>
    </div>
  </div>
</div>
</section>
