<section id="about">
<div class="container">

  <div class="gallery-wall">
    <div class="gallery-wall__row">
      <div class="gallery-wall__frame gallery-wall__frame--landscape gallery-wall__frame--left">
        <img src="{{ site.baseurl }}static/img/about/gallery-1.png" alt="Gallery photo 1">
      </div>
      <div class="gallery-wall__frame gallery-wall__frame--portrait">
        <img src="{{ site.baseurl }}static/img/about/gallery-2.png" alt="Gallery photo 2">
      </div>
      <div class="gallery-wall__frame gallery-wall__frame--landscape gallery-wall__frame--right">
        <img src="{{ site.baseurl }}static/img/about/gallery-3.png" alt="Gallery photo 3">
      </div>
    </div>
  </div>

  <div class="about-row">
    <div class="about-copy">
      <p>Hi, I'm Carrah Lingo. This website is my space for sharing more of my personal projects alongside some professional highlights.</p>

      <p>I'm an outgoing, empathetic, and ambitious person who values quality time and new experiences with people I love. I find meaning in bringing people together and have been an expert host and vacation planner for more than a decade.</p>

      <p>Professionally, I have 12 years of experience in strategic communications and marketing. I'm happiest alongside other hardworking and interesting people and I thrive when I can flex my event planning and community building skills.</p>

      <p class="about-copy__break">In 2024, I started a podcast with my lifelong best friend where we talk about the challenges and importance of friendship along with all the life lessons you stumble through in your 20's and 30's. It's a mix of comedy, self-help and mindless best friend banter.</p>

      <p>Live music brings me joy and some of my favorite shows have been Louis The Child at the Brooklyn Mirage, Aminé at Emo's in Austin, TX, and Bon Iver at Rabbit Rabbit in Asheville, NC.</p>

      <p>In my free time, I prefer to be laughing with friends and meeting new people. I also dabble in creative outlets like watercolor and acrylic painting, pottery, and interior design. I share a sweet seven-year-old vizsla with my wonderful husband and hiking with her is our favorite family activity.</p>
    </div>
  </div>
</div>
</section>
